<h1><%= @product.name  %><h1>
<h3> <%=@product.brand %> </h3>
<h3> <%=@product.description %> </h3>
<h3> <%=@product.info %> </h3>
<h3>Product Brought For: <%=@product.brought_price %> </h3>
<h3>Sold For: <%=@product.sold_price %> </h3>
<h3> <%=@product.photo %> </h3>

<%= link_to 'Back', products_path %>